<link rel="stylesheet" href="login.css">



<form action="login_verifica_aluno.php" method="post" class="login">
    <section class=".login__container">
        <h1 class="login__title">Cartão do Aluno</h1>
    <div>

        <input type="text" name="nome" id="nome"  class="login__input" placeholder="Nome">

    </div>
<br>
    <div>

        <input type="password" name="cpf" id="cpf"  class="login__input"  placeholder="CPF">

    </div>
<br>
    <div>

        <input type="submit" value="Acessar" class="login__submit">

    </div>
</section>  
</form>