
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="tela_inicial.css">
    <title>Tela de login</title> 
</head>
<body>
    <div class="opcao">
        <h1>Deseja fazer login como</h1>
        <div class="opcao_adm">
    
            <a href="login_adm.php">
                <button>Admin</button>
                </a> </div>
<br>
                <div class="opcao_aluno">
    
                    <a href="login_aluno.php">
                        <button>Aluno</button>
                        </a> 
                     
                </div>
        </div>
        <br><br>

    </div>
</body>
</html>
