{% extends "inc/base.html" %}
{% block  conteudo %}
<p>Username: {{alunos.nome}}</p>
<form action="usuario_atualizar.php" method="post">
<input type="hidden" name="id" value="{{usr.idAluno}}">
  <label for="name">Name:</label>
  <input type="text" id="name" name="name" value="{{usr.nome}}"><br><br>
  <label for="email">Data de Nascimento:</label>
  <input type="date" id="text" name="fatanasc" value="{{usr.datanasc}}"><br><br>
  <label for="idCurso">Curso:</label>
  <input type="text" id="idCurso" name="idCurso" value="{{usr.idCurso}}"><br><br>
  <label for="idTruma">Turma:</label>
  <input type="text" id="idTurma" name="idTurma" value="{{usr.idTurma}}"><br><br>
  <label for="cpf">CPF:</label>
  <input type="text" id="cpf" name="cpf" value="{{usr.cpf}}"><br><br>
    
  <input type="submit" value="Submit">
</form>
{% endblock %}